{% extends "layout.html" %}
{% block title %}Administration{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-condensed table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Capacity</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in rooms %}
                        <tr>
                            <td>{{room.name}}</td>
                            <td>{{room.capacity}}</td>
                            <td>{{room.price}}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}