{% extends "layout.html" %}
{% block title %}Administration{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-condensed table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Capacity</th>
                        <th>Rate</th>
                        <th>Rate/Person</th>
                        <th class="pull-right">{{ html.button("Create Room", "link", ["btn", "btn-default", "btn-xs"], url_for('rooms.create')) }} </th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in rooms %}
                        <tr>
                            <td>{{room.name}}</td>
                            <td>{{room.capacity}}</td>
                            <td>{{room.price|currency}} /hour</td>
                            <td>{{room.perPersonRate()|currency}}</td>
                            <td class="pull-right">
                                {{html.button("Edit", "link", ["btn", "btn-primary", "btn-xs"], url_for('rooms.edit', id=room.id))}}
                                {{html.button("Delete", "post", ["btn", "btn-danger", "btn-xs"], url_for('rooms.delete', id=room.id), 'delete%s' % room.id )}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}