.btn-panel {
    margin-top: -7px;
    margin-right: -13px;
}

.text-bold {
    font-weight: bolder;
}

.contentWrapper {
    /*** this offsets the negative margin on .row from bootstrap ***/
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron {
    margin-left: -15px;
    margin-right: -15px;
}