{% extends "layout.html" %}
{% block title %}Edit Dish{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <form class="form-horizontal" method="post">
      <fieldset>
        <legend>Edit Dish</legend>
        {{ html.csrf_token() }}
        {{ html.form_group("text", "Name", placeholder="Name", value=dish.name) }}
        {{ html.form_group("text", "Price", placeholder="$9.99", value=dish.price) }}
        {{ html.form_group("select", "Caterer", options=html.to_keyval(caterers), value=dish.caterer_id) }}
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            {{ html.button("Create", "submit", ["btn", "btn-primary"]) }}
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}