{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <form class="form-horizontal" method="post" style="border-radius: 5px; padding: 10px;">
      <legend>Login</legend>
      <fieldset>
        {{ html.csrf_token() }}
        <input class="form-control" name="LoginEmail" id="LoginEmail" value="" placeholder="Email" type="text" style="border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
        <input class="form-control" name="LoginPassword" id="LoginPassword" value="" placeholder="Password" type="password" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">
        <div style="margin-top: 20px;"></div>
        <div>
          {{ html.button("Login", "submit", ["btn", "btn-primary"]) }}
          {{ html.button("Register", "link", ["btn", "btn-default", "pull-right"], url_for("main.register")) }}
        </div>    
      </fieldset>
    </form>
    <div style="margin-top: 20px"></div>
  </div>
</div>
{% endblock %}
