{% extends "layout.html" %}
{% block title %}Select Caterering{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <h2>Select Caterering</h2>
    <div class="progress"><div class="progress-bar" style="width: 50%;"></div></div>
    <form method="POST">
      {{html.csrf_token()}}
      <table class="table table-hover table-condensed table-responsive table-striped">
        <thead>
          <tr>
            <th>Dish Name</th>
            <th>Caterer</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for dish in dishes %}
          <tr>
            <td>{{dish.name}}</td>
            <td>{{dish.caterer.name}}</td>
            <td><input type="number" min="0" class="update-trigger" name="dish_{{dish.id}}" value="{{ booking.food[dish.id|string] if dish.id|string in booking.food else 0 }}" data-price="{{dish.price|round(2)}}"/></td>
            <td>{{dish.price|currency}}</td>
            <td><p id="dish_{{dish.id}}Total" class="pull-right">$0</p></td>
          </tr>
          {% endfor %}
          <tr class="active">
            <th colspan="4">Caterering Total</th>
            <th><span id="catereringTotal" class="pull-right">$0</span></th>
          </tr>
          {% for room in booking.rooms() %}
          <tr>
            <td colspan="2">{{room.name}}</td>
            <td>{{booking.duration()|round(2)}} Hours</td>
            <td>{{room.price|currency}}/hour</td>
            <td><span class="room-total pull-right" data-rate="{{room.price|round(2)}}" data-hours="{{booking.duration()|round(2)}}">{{room.getTotal(booking.duration())|currency}}</span></td>
          </tr>
          {% endfor %}
          <tr class="active">
            <th colspan="2">Room Total</th>
            <th>{{booking.duration()|round(2)}} Hours</th>
            <th>{{booking.roomCombo().rate|currency}}/hour</th>
            <th><span id="roomTotal" data-total="{{booking.roomTotal()|round(2)}}" class="pull-right">{{booking.roomTotal()|currency}}</span></th>
          </tr>
        </tbody>
        <tfoot>
          <tr class="info">
            <th colspan="4">Total</th>
            <th><span id="finalTotal" class="pull-right">$0</span></th>
          </tr>
        </tfoot>
      </table>
      {{ html.button('Back', 'link', ['btn', 'btn-default'], url_for('event.selectRoom')) }}
      <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  var cateringTotal = 0;
  $('.update-trigger').on('input propertychange paste', function(e){
    updateTotals();
  })

  function updateTotals(){
    cateringTotal = 0;
    $('.update-trigger').each(function(e){
      var total = this.dataset['price'] * this.value;
      cateringTotal += total;
      $("#"+this.name+"Total").html("$" + currency(total));
    })
    $("#catereringTotal").html("$" + currency(cateringTotal));
    $("#finalTotal").html('$' + currency((cateringTotal + $('#roomTotal').data('total'))));
  }
  updateTotals();
</script>
{% endblock %}
