{% extends "layout.html" %}
{% block title %}Select a room{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <h2>Select a room</h2>
    <div class="progress"><div class="progress-bar" style="width: 25%;"></div></div>
    <p>
      {% if booking.start.date() == booking.finish.date() %}
        Looking for rooms to host an event on {{booking.start.date()|date}} from {{booking.start.time()|time}} to {{booking.finish.time()|time}} for {{booking.capacity}} people.
      {% else %}
        Looking for rooms to host an event from {{booking.start|datetime}} to {{booking.finish|datetime}} for {{booking.capacity}} people.
      {% endif %}
      {{ html.button("Back", "link", ['btn', 'btn-default', 'pull-right', 'btn-xs'], url_for('event.plan')) }}
    </p>
    <table class="table table-hover table-condensed table-responsive table-striped">
      <thead>
        <tr>
          <th>Rooms</th>
          <th>Capacity</th>
          <th>Rate</th>
          <th>Per Person</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for room in rooms %}
        <tr class="{{ 'info' if comboId == room.id else '' }}">
          <td>{{room.name}}</td>
          <td>{{room.capacity}}</td>
          <td>{{room.rate|currency}} /hour</td>
          <td>{{(room.rate/room.capacity)|currency}}</td>
          <td>{{room.price|currency}}</td>
          <td>
            <a href="{{url_for('event.processSelectRoom')}}" class="btn btn-xs btn-primary pull-right" onclick="event.preventDefault();$('#frm{{ room.id }}').submit()">Select</a>
            <form method="POST" id="frm{{ room.id }}" >
              {{ html.csrf_token() }}
              {{ html.hidden('roomIds', room.roomIds) }}
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
</div>
{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}
