{% extends "layout.html" %}
{% block title %}Find a space{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <h2>Find a space</h2>
    <div class="progress"><div class="progress-bar" style="width: 0%;"></div></div>
    <form class="form-horizontal" method="post">
        {{ html.csrf_token() }}
        {{ html.form_group("number", "Capacity", placeholder="50", value=capacity, min=1) }}
        {{ html.form_group("text", "Start", value=start)}}
        {{ html.form_group("text", "Finish", value=finish) }}
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            {{ html.button("Search", "submit", ["btn", "btn-primary"]) }}
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  function initDatetimePicker(minDate){
    $("#Start, #Finish").datetimepicker({
      minDate: minDate, 
      format: 'm/d/Y h:i a',
      allowTimes: [
        '8:00', '8:15', "8:30", "8:45",
        '9:00', '9:15', "9:30", "9:45",
        '10:00', '10:15', "10:30", "10:45",
        '11:00', '11:15', "11:30", "11:45",
        '12:00', '12:15', "12:30", "12:45",
        '13:00', '13:15', "13:30", "13:45",
        '14:00', '14:15', "14:30", "14:45",
        '15:00', '15:15', "15:30", "15:45",
        '16:00', '16:15', "16:30", "16:45",
        '17:00', '17:15', "17:30", "17:45",
        '18:00', '18:15', "18:30", "18:45",
        '19:00', '19:15', "19:30", "19:45",
        '20:00', '20:15', "20:30", "20:45",
        '21:00', '21:15', "21:30", "21:45",
        '22:00', '22:15', "22:30", "22:45",
      ]
    })
  }
  initDatetimePicker(Date(new Date().getTime() + 24 * 60 * 60 * 1000));
</script>
{% endblock %}
