{% extends "layout.html" %}
{% block title %}Edit Contact{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <form class="form-horizontal" method="post">
      <fieldset>
        <legend>Edit Contact</legend>
        {{ html.csrf_token() }}
        {{ html.form_group("text", "Name", placeholder="Name", value=contact.name) }}
        {{ html.form_group("text", "Email", placeholder="user@company.com", value=contact.email) }}
        {{ html.form_group("text", "Cell Phone", placeholder="(555) 555-5555", value=contact.cell_phone) }}
        {{ html.form_group("text", "Work Phone", placeholder="(555) 555-5555", value=contact.work_phone) }}
        {{ html.form_group("select", "Organization", options=orgs, value=contact.organization_id) }}
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            {{ html.button("Save", "submit", ["btn", "btn-primary"]) }}
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}