{% extends "layout.html" %}
{% block title %}Administration{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-condensed table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mobile Phone</th>
                        <th>Work Phone</th>
                        <th>Email</th>
                        <th class="pull-right">
                            {{ html.button("Create Org", "link", ["btn", "btn-info", "btn-xs"], url_for('organizations.create')) }}
                            {{ html.button("Create Contact", "link", ["btn", "btn-primary", "btn-xs"], url_for('contacts.create')) }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for org in organizations %}
                        <tr class="info">
                            <td>{{ org.name }}</td>
                            <td colspan="3">{{ org.address }}</td>
                            <td>
                                <span class="pull-right">
                                    {{html.button("Edit", "link", ["btn", "btn-primary", "btn-xs"], url_for('organizations.edit', id=org.id))}}
                                    {% if org.contacts|count > 0 %}
                                        {{ html.button("Delete", "post", ["btn", "btn-danger", "btn-xs", "disabled"], url_for('organizations.delete', id=org.id), 'deleteOrg%s' % org.id ) }}
                                    {% else %}
                                        {{ html.button("Delete", "post", ["btn", "btn-danger", "btn-xs"], url_for('organizations.delete', id=org.id), 'deleteOrg%s' % org.id ) }}
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        {% for contact in org.contacts%}
                            <tr>
                                <td>{{ contact.name }}</td>
                                <td>{{ contact.cell_phone }}</td>
                                <td>{{ contact.work_phone }}</td>
                                <td>{{ contact.email }}</td>
                                <td>
                                    <span class="pull-right">
                                        {{html.button("Edit", "link", ["btn", "btn-primary", "btn-xs"], url_for('contacts.edit', id=contact.id))}}
                                        {{html.button("Delete", "post", ["btn", "btn-danger", "btn-xs"], url_for('contacts.delete', id=contact.id), 'delete%s' % contact.id )}}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor%}
                    {% if contacts|count > 0 %}
                        <tr class="info">
                            <td colspan="5">No Organization</td>
                        </tr>
                        {% for contact in contacts %}
                            <tr>
                                <td>{{ contact.name }}</td>
                                <td>{{ contact.cell_phone }}</td>
                                <td>{{ contact.work_phone }}</td>
                                <td>{{ contact.email }}</td>
                                <td>
                                    <span class="pull-right">
                                        {{html.button("Edit", "link", ["btn", "btn-primary", "btn-xs"], url_for('contacts.edit', id=contact.id))}}
                                        {{html.button("Delete", "post", ["btn", "btn-danger", "btn-xs"], url_for('contacts.delete', id=contact.id), 'delete%s' % contact.id )}}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}