{% extends "layout.html" %}
{% block title %}Create Organization{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <form class="form-horizontal" method="post">
      <fieldset>
        <legend>Edit Organization</legend>
        {{ html.csrf_token() }}
        {{ html.form_group("text", "Name", placeholder="Organization Name", value=org.name) }}
        {{ html.form_group("textarea", "Address", placeholder="Company Name 123 Main St. City, State Zip", value=org.address)}}
        {{ html.form_group("multiselect", "Contacts", options=html.to_keyval(contacts), value=html.to_list(org.contacts))}}
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            {{ html.button("Save", "submit", ["btn", "btn-primary"]) }}
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
//$('#Contacts').multiselect();
</script>
{% endblock %}