{% extends "layout.html" %}
{% block title %}Bookings For {{contact.name}}{{' (' + contact.organization.name + ')' if contact.organization else ''}}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <h2>Bookings for {{contact.name}}{{' (' + contact.organization.name + ')' if contact.organization else ''}}</h2>
    <p>Displaying bookings that start between {{start|date}} and {{end|date}}.</p>
    <form class="form-inline">
        <div class="input-group">
            <div class="input-group-addon">Start</div>
            <input type="text" class="form-control" name="Start" id="Start" value="{{start|date}}">
        </div>
        <div class="input-group">
            <div class="input-group-addon">End</div>
            <input type="text" class="form-control" name="End" id="End" value="{{end|date}}">
        </div>
        <input type="hidden" name="IncludeCanceled" id="IncludeCanceled" value="{{includeCanceled}}">
        <button type="submit" class="btn btn-primary pull-right">Filter Events</button>
    </form>
    <hr/>
    <table class="table table-condensed table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact</th>
                <th>Time</th>
                <th>Rooms</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr{{' class=warning' if booking.isCanceled else ''}}>
                    <td>{{booking.eventName}}</td>
                    <td>{{booking.contact.name}}</td>
                    <td>
                        {% if booking.startTime.date() == booking.endTime.date() %}
                            {{booking.startTime.date()|date}} {{booking.startTime.time()|time}} - {{booking.endTime.time()|time}}
                        {% else %}
                            {{booking.startTime|datetime}} - {{booking.endTime|datetime}}
                        {% endif %}
                    </td>
                    <td>
                        {% for br in booking.bookingroom_set_prefetch %}
                            {{br.room.name}}{{ ', ' if booking.bookingroom_set_prefetch[booking.bookingroom_set_prefetch|length - 1] != br else ''}}
                        {% endfor %}
                    </td>
                    <td>{{booking.finalPrice|currency}}</td>
                    <td>
                        <span class="pull-right">
                            {{ html.button("View", "link", ["btn", "btn-default", "btn-xs"], url_for('bookings.view', id=booking.id))}}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
    $("#Start, #End").datetimepicker({
        timepicker: false,
        format: 'm/d/Y'
    });
</script>
{% endblock %}
