<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>{% block title %}{% endblock %} - CD&amp;CC</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-multiselect.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery.datetimepicker.min.css') }}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CD&amp;CC</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if g.loggedIn %}
          <ul class="nav navbar-nav">
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('rooms.index') }}">Rooms</a></li>
                <li><a href="{{ url_for('contacts.index') }}">Contacts</a></li>
              </ul>
            </li>
            <li>{{ html.button('Logout', 'post', ['test'], url_for('main.logout')) }}</li>
          </ul>
          {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li>{{ html.button("Login", "link", [], url_for('main.login')) }}</li>
            <li>{{ html.button("Register", "link", [], url_for('main.register')) }}</li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>

    <div id="messages" class="container-fluid" style="margin-top:70px;">
      {% with messages = get_flashed_messages(category_filter=['success']) %}
        {% if messages %}
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Success!</h4>
            <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      {% endwith %}

      {% with messages = get_flashed_messages(category_filter=['error']) %}
        {% if messages %}
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Error!</h4>
            <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      {% endwith %}
    </div>

    <div class="contentWrapper" style="margin-top:10px">
      {% block content %}{% endblock %}
    </div>
    <hr>

    <footer>
      <p class="text-center text-muted">UWM Senior Capstone © 2017</p>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.datetimepicker.full.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-multiselect.js') }}"></script>
    <script type="text/javascript">
      SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% block script %}{% endblock %}
  </body>
</html>
